---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Lobby">
    <h1 class="text-gray-300 text-5xl font-bold mb-8 text-center tracking-wider drop-shadow-lg">
        Lobby
    </h1>
</Layout>
